/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
	--bg-color: #000028;
	--bg-accent-color: #ff0070;
	--bg-image: url("../images/cover-image-dark.png");
	--text-primary-color: #f1b2ce;
	--text-accent-color: #ff0070;
	--text-inverted-color: #000028;
	--text-title-color: #db00ff;
	--opacity: 1;
	--button-content-color: #ff0070;
	--button-border-color: #ff0070;
	--button-border-hover-color: rgba(255, 0, 112, 0.40);
	--link-color: #ff0070;
}